.projectContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
}

.projectWrapper {
    /* max-width: 1100px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 12px;

    /* @media screen and (max-width: 768px) {
        
    } */
}

.projectTitle {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: white;
    @media screen and (max-width: 768px) {
        margin-top: 12px;
        font-size: 32px;
    }
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 20px 40px;
    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cardSkills {
    /* width: 330px; */
    /* height: 470px; */
    background-color: #023E8A;
    /* cursor: pointer; */
    border-radius: 10px;
    box-shadow: 0 0 12px 4px rgba(0,0,0,0.4);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &:hover {
        box-shadow: 0 0 12px 4px rgba(0,0,0,0.6);
        filter: brightness(1.1);
    }
}

.appImage {
    width: 100%;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    object-fit: cover;
    flex-basis: fit-content;
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.3);
}

.appTitle {
    font-size: 28px;
    font-weight: 600;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    align-self: center;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.view {
    /* display: flex; */
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 18px;
    color: #023E8A;
    border-radius: 12px;
    /* border: 1px solid black; */
    padding: 12px 16px;
    font-weight: 500;
    background-color: white;
    transition:  0.2s ease-in-out ;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
        font-size: 14px;
        padding: 8px 12px;
    }

    @media screen and (max-width: 500px) {
        font-size: 14px;
        padding: 6px 12px;
    }
}